<div class="pure-g">
  <div class="pure-u-md-1-2 pure-u-sm-1">
    <%= f.input :name, input_html: { class: 'pure-input-1' } %>
  </div>
  <div class="pure-u-md-1-2 pure-u-sm-1">
    <%= f.input :update_url, input_html: { class: 'pure-input-1' } %>
  </div>
</div>

<%= f.input :version, input_html: { class: 'pure-input-1' } %>
<%= f.input :html, label: 'HTML', input_html: { class: 'pure-input-1 code-editor',
  rows: 10, data: { mode: 'htmlmixed' }.merge(@editor_settings) } %>

<%= f.input :scss, label: 'SCSS', input_html: { class: 'pure-input-1 code-editor',
  rows: 10, data: { mode: 'sass' }.merge(@editor_settings) } %>
<%= f.input :javascript, input_html: { class: 'pure-input-1 code-editor', rows: 10,
  data: { mode: 'javascript' }.merge(@editor_settings) } %>
<%= render 'form_actions' %>
